// html {
//     font-size: 100%;
//     box-sizing: border-box;
// }

// *, *::before, *::after {
//     box-sizing: inherit;
// }

body {
    // margin: 0;
    // padding: 20;
    // line-height: 1.3;
    background: linear-gradient($softViolet, $softBlue);
    font-family: 'Kumbh Sans', sans-serif;
}


.faq-card {
    padding: 20px;
    background: white;
    border-radius: 20px;
    width: 85%;
    margin: auto;
    box-shadow: 5px 5px 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.img_bg {
    position: absolute;
}

.img_fg {
    display: inline;
    float: left;
}


h1 {
    color: $veryDarkGrayishBlue;
}

h4 {
    font-size: 0.75rem;
    color: $veryDarkGrayishBlue;
    font-weight: 300;
    vertical-align: middle;
    display: inline-block;
}

.icon_arrow {
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}

// h4:after {
//     content: url(/images/icon-arrow-down.svg);
//     padding-left: 5px;
// }

p {
    font-size: 0.75rem;
    color: $darkGrayishBlue;
    display: none;
}

hr {
    color: $lightGrayishBlue;
}
